
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Users can read/update their own profile, which includes displayName, address, etc.
    // They can create it on signup.
    match /users/{userId} {
      allow read, update, create: if request.auth.uid == userId;
    }

    // Doctors can manage their patients. 
    // A patient can read their own patient record (linked by authUid).
    match /patients/{patientId} {
        allow create, read, update, delete: if request.auth.uid == resource.data.doctorId;
        allow read: if request.auth.uid == resource.data.authUid;
    }

    // Doctors can manage their own medicine list.
    match /medicines/{medicineId} {
        allow read, write: if request.auth.uid == resource.data.doctorId;
    }

    // Doctors manage appointments.
    // Patients can read appointments if their auth UID is on the patient record linked to the appointment.
    match /appointments/{appointmentId} {
        allow create, read, update, delete: if request.auth.uid == resource.data.doctorId;

        // This allows a patient to read an appointment if their UID is on the linked patient document.
        // This rule requires that the patient also has read access to the patient document.
        allow read: if exists(/databases/$(database)/documents/patients/$(resource.data.patientId))
                      && get(/databases/$(database)/documents/patients/$(resource.data.patientId)).data.authUid == request.auth.uid;
    }
    
    // Chat rooms can be read/created/updated by participants only.
    match /chatRooms/{roomId} {
        allow read, update, create: if request.auth.uid in resource.data.participants;

        // Messages can be read/written by participants of the parent room.
        match /messages/{messageId} {
            allow read, create: if request.auth.uid in get(/databases/$(database)/documents/chatRooms/$(roomId)).data.participants;
        }
    }
  }
}
